[Unit]
Description=Send alerts on low battery or full battery for RDE.

[Service]
Type=simple
ExecStart=/bin/bash /etc/rde/events/battery-alert.sh
Environment="DISPLAY=:0" "XAUTHORITY=/home/b00m/.Xauthority"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
