[submodule "apps/settings"]
	path = apps/settings
	url = https://github.com/Ross-Technologies/RDE-Settings
[submodule "src/panel"]
	path = src/panel
	url = https://github.com/Ross-Technologies/RDE-Panel
